.side-popup {
    position: fixed;
    right: 0;
    top: 0;
    width: 70vw ;
    max-width: 900px;
    height: 100vh;
    background: #fff;
    box-shadow: -2px 0 20px rgba(0, 0, 0, 0.15);
    transform: translateX(0);
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
    padding: 30px;
    overflow-y: auto;
    direction: rtl;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .side-popup.hidden {
    transform: translateX(100%);
  }
  
  .side-popup h3 {
    font-size: 1em;
    color: #042486;
    border-bottom: 3px solid #042486;
    padding-bottom: 5px;
    margin-bottom: 10px;
  }
  
  .task-details-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px 20px;
  }
  
  .task-details-grid p {
    margin: 0;
    background: #f9f9f9;
    /* padding: 8px 12px; */
    border-radius: 8px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  }
  
  .comment-section {
    margin-top: 20px;
    border-top: 2px solid #ddd;
    /* padding-top: 20px; */
  }
  
  button.add-comment-btn {
    margin-top: 2px;
    margin-bottom: 2px;
    background: #783db4;
    color: #fff;
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    transition: background 0.2s ease;
  }
  
  button.add-comment-btn:hover {
    background: #b88ae6;
  }
  
  /* SweetAlert עיצוב מותאם */
  .swal-wide {
    width: 50% !important;
    max-width: 600px;
  }
  
  .swal-confirm {
    background-color: #042486 !important;
    border-radius: 8px !important;
  }
  
  .swal-cancel {
    background-color: #ccc !important;
    color: #333 !important;
    border-radius: 8px !important;
  }
  .frequency-tags {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
  }
  
  .days-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
  }
  
  .day-tag {
    background-color: #f0f0f0;
    padding: 4px 10px;
    border-radius: 12px;
    font-size: 0.9rem;
    font-weight: 500;
  }
  .swal-container {
    z-index: 10001 !important;
}
  